<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{active: typeIsActive}"><a href="#">Choose shipment type</a></li>
  <li role="presentation" [ngClass]="{active: consignorIsActive}"><a href="#">Consignor</a></li>
  <li role="presentation" [ngClass]="{active: consigneeIsActive}"><a href="#">Consignee</a></li>
  <li role="presentation" [ngClass]="{active: cartIsActive}"><a href="#">Cart</a></li>
  <li role="presentation" [ngClass]="{active: summaryIsActive}"><a href="#">Summary</a></li>
</ul> 